<html>
    <title>error</title>
    <body>
        <h1>Errors</h1>
        <% if(errors.email){ %>
            <h2><%= errors.email %> </h2>
        <% } %> 
        <% if(errors.password){ %>
            <h2><%= errors.password %> </h2>
        <% } %> 
    </body>
</html>