<html>
    <title>
        Login page
    </title>
    <body>
       <h1>Login Page</h1>
       <form action="/login" method="post">
        <label for="email">
            email
        </label>
         <input type="text" name = "email">
         <label for="password">
            password
        </label>
        <input type="password" name = "password">
        <button>Submit</button>
       </form>
    </body>
</html>