<html>
   <head>
      <title>
         Special page
      </title>
      <style>
         body{
            background-color: burlywood;
         }
         h1{
            border:1px solid grey;
            margin:50px auto;
            width:750px;
            padding:10px auto;
            background-color: cornflowerblue;
         }

      </style>
   </head>
    
    <body>
       <h1>The user details are 
           <%= user.email %> 
         .Only you are authorised to view this page
       </h1>
    </body>
</html>